@charset "utf-8";
/* CSS Document */

h1 {
	color:#fff;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
}

body{
	background-color: #A28A83
}

a {
	color: #FFFFFF;
	display:block;
	padding: 25px;
}

ul {
 list-style-type: none;
}

li {
	float: left;
}

img {
	float:left;
	padding:10px;
}

